# compose.dev.yml (solo dev)
services:
  db:
    ports:
      - "5432:5432"
    env_file:
      - ./api/environments/dev.env

  api:
    ports:
      - "8000:8000"
    env_file:
      - ./api/environments/dev.env
    volumes:
      - ./api/app:/app/app
    environment:
      WATCHFILES_FORCE_POLLING: "true"
    command: >
      python -m uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --reload
      --reload-dir /app/app
